table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}
td,
th {
    border: 1px solid black;
    padding: 4px;
}
#contactForm {
    background-color: lightblue;
    padding: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 222px;
    height: 169px;
    margin-left: -111px;
    margin-top: -63px;
    display: none;
}
.formGroup label {
    width: 40px;
    display: inline-block;
}
.formGroup {
    margin-bottom: 2px;
}
.buttons {
    text-align: center;
}